
     *{
            margin: 0;
            padding: 0;
            font-family:  12px "Inter", sans-serif;
        }

        ul, ol {list-style: none;}
        a{text-decoration: none; color: #111;}

        #wrapper {
            width: 100%;
            height: 50%;
        }

        header {
            display: flex;
            width: 800px;
            height: 35px;
            left: 560px;
            padding: 10px ;
            text-align: left;
            
        }

        header .top {
            width: 67.87px;
            height: 14px;
           font-size: 10.13px;
           line-height: 12.25px;
           

        }

        header .logout {

            position: relative;
            left: 1000px;
            width: 175.2px;
            height: 14px;
            top: 11px;
            
            font-size: 12px;
            line-height: 14.52px;
            font-weight: 400;
            

        }
        header .logout > span {
           font-weight: 400;
            font-size: 12px;
            line-height: 14.52px; 
        }

        main > section {
            width: 800px;
            height: 180px;
            
        }



table {
width: 800px;
height: 84px;
top: 51px;
border-collapse:collapse;
}


footer > .copyright {
width: 250px;
height: 14px;
top: 1px;
gap: 0px;
opacity: 0px;

}

footer > div > p {
    width: 30.2px;
    height: 14px;
    left: 760px

}



